{% extends "base.html" %}
{% load static %}

{% block navbar %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="/">Pubmed Searcher</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% if not request.user.is_anonymous %}
                        <li><a href="/logout/?next={{ request.path }}">Logout</a></li>
                        <li><a href="/search/">New Search</a></li>
                    {% endif %}

                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block content %}

    <table class="table">
                <thead>
                <th>Actions</th>
                <th>Query</th>
                <th># Saved PMIDs</th>
                <th>Created</th>
                <th>Last Modified</th>
                </thead>
                <tbody>
                {% for q in list %}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                    title="Delete?">
                                Delete
                            </button>
                        </td>
                        <td><a href="{% url "saved_search" q.id %}">{{ q.search_used }}</a></td>
                        <td>{{ q.pmids.all.count }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock %}
